.Div {
    display: flex;     
    background-color: lightgray;   
    margin: 50px;
    border-radius: 20px;
}

.Img {    
    height: 300px;
    width: 300px;
    margin: 30px;
    border-radius: 10px;
}

.EspacioP {
    width: 50%;    
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin: 50px;
}

.EspacioI {
    width: 50%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}